@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  src: url('../fonts/GeistVariable.ttf') format('ttf');
  font-weight: 300 900;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('../fonts/GeistMonoVariable.ttf') format('ttf');
  font-weight: 300 900;
}

@layer base {
  :root,
  :host {
    --font-sans: 'Geist';
    --font-mono: 'Geist Mono';
  }

  ::-webkit-scrollbar {
    @apply w-2.5 h-2.5;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-base-200 hover:bg-base-300 cursor-grab active:cursor-grabbing;
  }

  body {
    @apply font-mono font-medium text-base-900 bg-base-50;
  }

  svg {
    @apply w-[1em] h-[1em] min-w-4 min-h-4 text-current stroke-2;
  }

  * {
    @apply border-base-200;
  }
}

@layer components {
  .bg-inverted {
    @apply bg-base-900 text-base-50;
  }

  .btn-base {
    @apply rounded shrink-0 transition-colors [&>svg]:text-lg;
  }

  .btn {
    @apply btn-base flex items-center gap-2 py-2 px-3 bg-base-100 hover:bg-inverted font-semibold;
  }

  .btn.active {
    @apply bg-inverted;
  }

  .btn:disabled {
    @apply text-base-400 bg-base-100;
  }

  .btn-icon {
    @apply btn-base grid place-items-center transition-colors w-8 h-8 hover:bg-base-100;
  }

  .btn-icon.active {
    @apply bg-base-100;
  }

  .input {
    @apply bg-transparent outline-none placeholder:text-base-400 w-full;
  }

  .chip-base {
    @apply text-sm py-1 px-2 leading-none rounded shrink-0 flex items-center gap-2;
  }

  .chip {
    @apply chip-base text-base-600 bg-base-100;
  }

  .icon-base {
    @apply rounded shrink-0 [&>svg]:text-lg grid place-items-center w-6 h-6;
  }

  .icon {
    @apply icon-base bg-base-200;
  }

  .screen {
    @apply h-full w-full flex flex-col overflow-auto isolate;
  }

  .action-bar {
    @apply px-3 py-6 flex items-center gap-2;
  }
}

@layer utilities {
  .shadow-flat {
    box-shadow: theme(colors.base.200) 0px 0px 0px 2px;
  }

  .bg-stripes {
    background-image: repeating-linear-gradient(
      -45deg,
      theme(colors.base.50),
      theme(colors.base.50) 10px,
      theme(colors.base.100) 10px,
      theme(colors.base.100) 20px
    );
  }
}
